<header class="header-main">
    <nav class="navbar">

        <div class="logo">
            <img src="img/logo tecnoacademia2.PNG" alt="TecnoAcademia" class="logo-img">
        </div>

        <button class="menu-toggle" id="mobile-menu">
            <i class="fas fa-bars"></i>
        </button>

        <ul class="nav-links" id="nav-list">
            <li>
                <a href="index.html" class="nav-item active">
                    <i class="fas fa-home"></i>
                    <span>Inicio</span>
                </a>
            </li>

            <li>
                <a href="pages/equipo.html" class="nav-item">
                    <i class="fas fa-users"></i>
                    <span>Equipo de trabajo</span>
                </a>
            </li>

            <li class="dropdown" id="materiasDropdown">
                <a href="#" class="nav-item dropbtn">
                    <i class="fas fa-layer-group"></i>
                    <span>Lineas de trabajo</span>
                    <i class="fas fa-chevron-down arrow"></i>
                </a>

                <div class="dropdown-content">
                    <div class="dropdown-arrow-up"></div>
                    <a href="#"><i class="fas fa-pencil-ruler"></i> Diseño de productos</a>
                    <a href="#"><i class="fas fa-robot"></i> Tics e inteligencia artificial</a>
                    <a href="#"><i class="fas fa-dna"></i> Materiales y Biotecnologia</a>
                    <a href="#"><i class="fas fa-seedling"></i> Economia popular y campesina</a>
                    <a href="#"><i class="fas fa-compass"></i> Orientacion Vocacional</a>
                </div>
            </li>

            <li>
                <a href="pages/proyectos.html" class="nav-item">
                    <i class="fas fa-folder"></i>
                    <span>Proyectos</span>
                </a>
            </li>
        </ul>

    </nav>
</header>