* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}




header {
    height: 150px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

#logo_header {
    height: 350px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}



/* --- MENÚ PRINCIPAL --- */
.menu {
    background-color: #11890d;
    padding: 1.5rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 9999;
}

.menu_navegacion {
    display: flex;
    justify-content: center;
    gap: 80px; /* espacio entre cada <li> */
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu_navegacion li {
    display: inline-block;
    position: relative;
}

.menu_navegacion a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease;
    position: relative;
}


.menu_navegacion .icono {
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

.menu_navegacion a:hover .icono {
    opacity: 1;
    transform: translateY(0);
}

.menu_navegacion a:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.menu_navegacion .texto {
    margin-top: 5px;
    font-size: 20px;
}

/* --- SUBMENÚ --- */
.submenu_lineas {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: calc(100% + 10px); /* un poco más abajo */
    left: 0;
    padding: 14px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 10000;
    border-radius: 8%;
    /* visibilidad y opacidad con transición */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0s linear 0.4s;
}

.menu_navegacion li:hover .submenu_lineas {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.submenu_lineas li {
    text-align: center;
    margin: 0 0px
}

.submenu_lineas li a {
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    display: block;
}

.submenu_lineas li a:hover {
    background-color: #C7EAD6;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


.titulo_proyecto {
    margin-top: 3%;
    margin-left: 780px;
    font-size: 48px;
    font-weight: bold;
    color: #333333;
    background-color: white;
    display: inline-block;
}

.subtitulo_linea {
    margin-top: 3%;
    margin-left: 780px;
    font-size: 48px;
    font-weight: bold;
    color: #333333;
    background-color: white;
    display: inline-block;
}


.container_texto {
    /* border: 2px solid red; */
    border-radius: 8px;
    width: 80%;
    max-width: 1000px;
    margin: 40px auto;
    text-align: justify;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 20px;
    background-color: #ebebec
    
}.subtitulo_linea_diseño {
    margin-top: 3%;
    margin-left: 700px;
    font-size: 48px;
    font-weight: bold;
    color: #333333;
    background-color: white;
    display: inline-block;

}.subtitulo_linea_c{
    margin-top: 3%;
    margin-left: 700px;
    font-size: 48px;
    font-weight: bold;
    color: #333333;
    background-color: white;
    display: inline-block;
}
